body {
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
}
#container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
#container > * {
  width: 100%;
  height: 100%;
}
#toolbox {
  position: absolute;
  width: 75%;
  height: 200px;
  bottom: 10px;
  right: 30px;
  padding: 20px;
  border-radius: 6px;
  background-color: white;
  flex: auto;
  flex-direction: column;
}
.wrapper-slider {
  margin-top: 30px;
}
/**
Time slider style
*/
.circumference {
  fill: #fff;
  stroke: #f2f2f2;
  stroke-width: 5px;
}

.dot circle:hover {
  cursor: pointer;
}

.dot circle {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot circle.dragging {
  fill: red;
  stroke: brown;
}

.range {
  position: relative;
  width: 1200px;
  height: 5px;
}
.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #37adbf;
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-labels {
  margin: 12px -26px 0;
  padding: 6;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 51.5px;
  text-align: center;
  color: #b2b2b2;
  font-size: 16px;
  cursor: pointer;
}
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
}
.range-labels .active {
  color: #37adbf;
}
.range-labels .selected::before {
  background: #37adbf;
}
.range-labels .active.selected::before {
  display: none;
}
